.header--info
{
    max-width: 400px;
    height: 400px;
    padding: 15px;
    position: relative;
    left: 60px;
}

.information
{
    width: 100%;
    height: 100%;
}


.information .innerBox
{
    display: flex;
    gap: 30px;
}
.information .innerBox #vote {color: orange;}
.information .innerBox #imdb
{
    padding: 3px;
    background-color:  orange;
    border-radius: 12px;
    color: white;
}

